/* -- Header -- */

header {
    background-color: #FFFFFF;
    background-image: url('/images/banner/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 90%;
}

.header__container {
    align-items: center;
    background-color: #2C2C2C;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu__item {
    float: left;
    position: relative;
    width: 100%;
}

.menu__link {
    color: white;
    display: block;
    font-size: 20px;
    padding: 20px;
}

.dropdown__link {
    color: white;
}

.menu__link:hover {
    background-color: #666;
    color: white;
}

.dropdown {
    background-color: white;
    display:none;
    position: relative;
    width: 100%;
}

.dropdown__item {
    background-color: #333;
    border-top: 1px solid rgba(0,0,0,.1);
    width: 100%;
}

.menu__dropdown:hover .dropdown {
    display: initial;
}


#toggler {
    display: none;
}

#toggler:checked ~ .header__nav {
    display: initial;
}

.nav__hamburger {
    color: white;
    display: initial;
    font-size: 20px;
}

.header__nav {
    background-color: #2C2C2C;
    border-top: 1px solid rgba(0,0,0,.1);
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
}

.btn--download {
    display: none;
}

/* hamburger */

.nav__hamburger {
    border-top: 5px solid #fff;
    height: 2rem;
    position: relative;
    transition: 0.3s transform linear;
    width: 3rem;
}

.nav__hamburger::before, .nav__hamburger::after {
    border-top: 5px solid #fff;
    content: '';
    position: absolute;
    transform: translateY(10px);
    width: 100%;
}

.nav__hamburger::after {
    transform: translateY(25px);
    transition: 0.3s transform linear;
}

.nav__toggler + label {
    display: block;
}

/* hamburger checked */

.nav__toggler {
    display: none;
}

.header__container input[type="checkbox"]:checked ~ .nav__hamburger {
    border: none;
    transform: rotate(45deg) translateY(5px);
}

.header__container input[type="checkbox"]:checked ~ .nav__hamburger::after {
    transform:rotate(-90deg) translateX(-10px);
}

.nav__toggler:checked ~ .nav__list {
    display: block;
    max-height: calc(100vh - 60px);
	transition: all 500ms ease-in-out;
} 

/* downward arrow */

.arrow--down {
    border: solid #666;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin: 0 0 0.5rem 0.5rem;
    padding: 3px;
    transform: rotate(45deg);
}

/* hero__container */

.hero__container {
    display: block;
    margin: 0 auto;
}

.hero__text {
    margin: 0 auto;
    padding: 100px 15px 0;
}

.hero__text h2 {
    color: #fff;
    font-size: 36px;
    letter-spacing: 2px;
    margin: 20px 0 8px;
    padding: 0px 0 15px;
}

.hero__text p {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    margin: 16px 0 30px;
}

.btn {
    background-color: #37EBED;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 30px 0;
    opacity: 1;
    padding: 15px 50px;
    text-align: center;
    transition: 0.3s;
}

.btn:hover {
    background-color: #46A5FE;
    transition: 0.3s;
}

.hero__banner {
    display: flex;
    justify-content: center;
}

.hero__image {
    margin-top: 20px;
    max-width: 100%;
    padding: 30px 0 0;
}

/* -- Features -- */

.features {
   text-align: center;
}

.features__title--first,.features__title--second {
    font-size: 34px;
    padding: 30px 15px;
}

.features__item {
    padding: 0 15px;
}

.features__icon {
    align-content: center;
    border-radius: 25%;
    display: flex;
    height: 130px;
    justify-content: center;
    margin: 0 auto 35px auto;
    padding: 35px;
    text-align: center;
    width: 130px;
    vertical-align: middle;
}

.icon--first {
    background: linear-gradient(to right, #0181f5 0%, #5db2ff 100%);
}

.icon--second {
    background: linear-gradient(to right, #fdae5c 0%, #fd8e5e 100%)
}

.icon--third {
    background: linear-gradient(to right, #37ef8d 0%, #37ef8d 100%);
}

.features__item__text {
    text-align: center;
    font-size: 24px;
    max-width: 250px;
    margin: 0 auto;
    padding-bottom: 30px;
}

/* features content */

.features__container--content {
    margin: 0 auto;
}

.features__container--content p {
    color: #727272;
    font-size: 16px;
    line-height: 30px;
    margin: 0 0 32px;
    padding: 0 15px;
    text-align: left;
}

.btn--downloadNow {
    background: #0181F5;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 40px;
    margin: 0 15px;
}

.features__image {
    padding: 30px 15px 75px;
}

/* -- Review -- */

.review {
    box-shadow: inset 0 0 0 1000px rgb(93, 178, 255, .9);
    background-image: url('/images/banner/testmonial.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto 100%;    
    text-align: center;
}

.review__container {
    padding-bottom: 100px;
}

.review__heading {
    color: white;
    font-size: 36px;
    line-height: 50px;
    margin: 0 auto;
    max-width: 500px;
    padding: 100px 0 30px;
}

.review__text {
    color: white;
    font-size: 24px;
    line-height: 40px;
    margin: 0 auto;
    max-width: 500px;
    padding: 0 0 30px;
}

.review__mark {
    display: flex;
    justify-content: center;
}

.fa-star {
    font-size: 24px;
}

.checked {
    color: gold;
}

.review__mark p {
    color: white;
    text-transform: uppercase;
}

/* -- Pricing -- */

.pricing {
    margin: 0 auto;
    padding: 0 15px 30px;
    text-align: center;
}

.pricing__header {
    font-size: 36px;
    margin: 0 auto;
    padding: 60px 0 20px;
}

.pricing__subtext {
    color: #727272;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 35px;
}

.pricing__content--left, .pricing__content--middle, .pricing__content--right {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    padding-bottom: 40px;
}

.pricing__offer--header {
    display: flex;
    font-size: 22px;
    justify-content: space-between;
    padding: 30px 35px;
}

.pricing__title {
    font-weight: 500;
}

.pricing__cost {
    font-weight: 500;
}

.pricing__content--left .pricing__offer--header {
    background: #E9F4FE;
}

.pricing__content--left .pricing__cost {
    color: #0181F5;
}

.pricing__content--middle .pricing__offer--header {
    background: #FEF4EE;
}

.pricing__content--middle .pricing__cost {
    color: #FDAE5C;
}

.pricing__content--right .pricing__offer--header{
    background: #E8FCF1;
}

.pricing__content--right .pricing__cost {
    color: #00D363;
}

.pricing__offer--content{
    color: #727272;
    font-size: 20px;
}

.pricing__offer--content li {
    margin-bottom: 40px;
}

.pricing__offer--content li:first-child {
    margin-top: 40px;
}

.pricing__btn {
    background-color: transparent;
    border: 1px solid #5DB2FF;
    border-radius: 5px;
    color: #5DB2FF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 28px;
    transition: color .3s;
}

.pricing__btn:hover {
    background-color: #5DB2FF;
    color: white;
}

/* -- Productivity -- */

.productivity {
    background-image: url('/images/banner/product.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto 100%;    
    padding-bottom: 125px;
    text-align: center;
}

.productivity__header {
    color: white;
    font-size: 36px;
    line-height: 1.25; 
    margin: 0 auto;
    max-width: 500px;
    padding: 110px 0 15px;
}

.productivity__header h2 {
    font-weight: 300;
}

.productivity__applications img:hover {
    cursor: pointer;
}

/* -- Footer --*/

/* top */

.footer__container--top {
    color: #C7C7C7;
    background-color: #1F1F1F;
    padding: 80px 15px 40px;
}

.footer__logo {
   margin-bottom: 20px;
}

.footer__container--top div p {
    font-size: 20px;
    margin-bottom: 40px;
}

.social__links {
    margin-bottom: 30px;
    max-width: 170px;
}

.social__links ul {
    display: flex;
    justify-content: space-between;
}

.footer__icon {
    background-color: #565656;
    border-radius: 50%;
    font-size: 1.5em;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

.footer__icon i {
    color: #C7C7C7;
}

.footer__list h3 {
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
}

.footer__list ul {
    line-height: 3em;
}

.footer__list {
    margin-bottom: 30px;
}

.footer__list li:hover {
    color: #5DB2FF;
    cursor: pointer;
}

/* bottom */

.footer__container--bottom {
    background-color: #000000;
    color: #C7C7C7;
    line-height: 2em;
    padding: 40px 15px;
    text-align: center;
}

.footer__container--bottom a {
    color: #5DB2FF;
}

.footer__container--bottom a:hover {
    color: #C7C7C7;
    cursor: pointer;
}