/* --- header --- */

header {
    background-size: 100% 90%;
    background-position: top;
}

.header__container {
    padding: 20px 60px;
}

.hero__container{
    padding: 80px 0 0;
    display: flex;
}

.hero__banner{
    padding: 0 100px 50px 0;
}

.hero__image {
    max-width: 100%;
    height: auto;
    margin: 100px 0 0;
    padding: 0;
}

.hero__text {
    padding: 0 0 0 100px;
    margin: 100px auto 0 0;
    max-width: 450px;
}

.hero__text h2 {
    margin: 0 auto;
    font-size: 30px;
}

.hero__text p {
    font-size: 20px;
    margin: 8px 0 15px;
}

.btn--start {
    padding: 15px 35px;
}
/* --- features --- */
.features__icon{
    height: 110px;
    width: 110px;
    padding: 30px;
}
.features__title--first {
    max-width: 400px;
    margin: 0 auto;
}

.features__item--list{
    display: flex;
    justify-content: space-between;
    padding: 0 80px 100px;
}

.features__item__text{
    max-width: 200px;
    padding-bottom: 0;
}

/**/

.features__title--second {
    display: flex;
    justify-content: left;
    text-align: left;
    margin: 60px auto 0 0;
    max-width: 360px;
    padding: 30px 0;
}

.features__container--content {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 130px;
}

.features__image {
    max-width: 100%;
    padding: 0;
}

.features__cell--content p{
    padding: 0;
    width: 335px;
}

.features__cell--content{
    margin: 0 0 0 100px;
}

.features__cell--image {
    padding: 100px 100px 0 30px;
    align-self: center; 
}

.btn--downloadNow{
    margin: 0;
    padding: 15px 30px;
}

/* --- Review --- */

.review {
    background-position: top; 
    background-size: auto 100%;
}

.review__container {
    padding-bottom: 100px;
}

.review__heading{
    max-width: 400px;
    line-height: 45px;
    padding: 80px 0;
}

.review__text {
    font-size: 20px;
    line-height: 30px;
    max-width: 650px;
}


/* -- Pricing -- */

.pricing__header {
    padding: 150px 0 20px;
}

.pricing__subtext{
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
}

.pricing__container--content{
    display: flex;
    justify-content: center;
}

.pricing__offer--header{
    font-size: 18px;
}

.pricing__offer--content{
    font-size: 16px;
}
.pricing__offer--content li {
    margin-bottom: 35px;
}

.pricing__offer--content li:first-child {
    margin-top: 30px;
}

.pricing__content--left, .pricing__content--middle, .pricing__content--right {
    width: 230px;
}

.pricing__btn{
    font-size: 16px;
}

.pricing__content--left, .pricing__content--right {
    margin-top: 30px;
    max-height: 435px;
}

/* -- Productivity -- */

.productivity {
    padding-bottom: 110px;
}

.productivity__header {
    font-size: 45px;
    padding: 150px 0 30px;
    max-width: 700px;
    line-height: 1.5;
    text-align: left;
}

.productivity__applications img {
    height: 50px;
}

/* --Footer Top--*/

.footer__container--top{
    padding: 90px 100px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__test {
    width: 50%
}

.footer__list{
    width:50%;
}

.footer__container--top > div {
    padding: 0 15px;
}

.footer__container--top div p {
    font-size: 16px;
}

.social__links {
    max-width: 150px;
}

.social__links ul {
    margin-bottom: 40px;
}

.footer__icon {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 1em;
}

.footer__list h3{
    font-size: 22px;
    margin-bottom: 20px;
}

.footer__list ul {
    line-height: 3em;
    font-size: 13px;
}

/* --Footer Bottom--*/

.footer__container--bottom {
    font-size: 13px;
    padding: 30px 15px;
}