/* -- Header -- */

header {
    background-position: top;
    background-size: 100% 90%;
}

.header__container {
    padding: 20px 60px;
}

/* hero__container */

.hero__container {
    display: flex;
    padding: 80px 0 0;
}

.hero__banner {
    padding: 0 100px 50px 0;
}

.hero__image {
    height: auto;
    margin: 100px 0 0;
    max-width: 100%;
    padding: 0;
}

.hero__text {
    margin: 100px auto 0 0;
    max-width: 450px;
    padding: 0 0 0 100px;
}

.hero__text h2 {
    font-size: 30px;
    margin: 0 auto;
}

.hero__text p {
    font-size: 20px;
    margin: 8px 0 15px;
}

.btn--start {
    padding: 15px 35px;
}

/* -- Features -- */

.features__icon {
    height: 110px;
    padding: 30px;
    width: 110px;
}

.features__title--first {
    margin: 0 auto;
    max-width: 400px;
}

.features__item--list {
    display: flex;
    justify-content: space-between;
    padding: 0 80px 100px;
}

.features__item__text {
    max-width: 200px;
    padding-bottom: 0;
}

.features__title--second {
    display: flex;
    justify-content: left;
    margin: 60px auto 0 0;
    max-width: 360px;
    padding: 30px 0;
    text-align: left;
}

/* features content */

.features__container--content {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 130px;
}

.features__image {
    max-width: 100%;
    padding: 0;
}

.features__cell--content p {
    padding: 0;
    width: 335px;
}

.features__cell--content {
    margin: 0 0 0 100px;
}

.features__cell--image {
    align-self: center; 
    padding: 100px 100px 0 30px;
}

.btn--downloadNow {
    margin: 0;
    padding: 15px 30px;
}

/* -- Review -- */

.review {
    background-position: top; 
    background-size: auto 100%;
}

.review__container {
    padding-bottom: 100px;
}

.review__heading {
    line-height: 45px;
    max-width: 400px;
    padding: 80px 0;
}

.review__text {
    font-size: 20px;
    line-height: 30px;
    max-width: 650px;
}


/* -- Pricing -- */

.pricing__header {
    padding: 150px 0 20px;
}

.pricing__subtext {
    font-size: 16px;
    margin: 0 auto;
    max-width: 600px;
}

.pricing__container--content {
    display: flex;
    justify-content: center;
}

.pricing__offer--header {
    font-size: 18px;
}

.pricing__offer--content {
    font-size: 16px;
}
.pricing__offer--content li {
    margin-bottom: 35px;
}

.pricing__offer--content li:first-child {
    margin-top: 30px;
}

.pricing__content--left, .pricing__content--middle, .pricing__content--right {
    width: 230px;
}

.pricing__btn {
    font-size: 16px;
}

.pricing__content--left, .pricing__content--right {
    margin-top: 30px;
    max-height: 435px;
}

/* -- Productivity -- */

.productivity {
    padding-bottom: 110px;
}

.productivity__header {
    font-size: 45px;
    line-height: 1.5;
    max-width: 700px;
    padding: 150px 0 30px;
    text-align: left;
}

.productivity__applications img {
    height: 50px;
}

/* -- Footer -- */

/* top */

.footer__container--top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 90px 100px 60px;
}

.footer__test {
    width: 50%
}

.footer__list {
    width: 50%;
}

.footer__container--top > div {
    padding: 0 15px;
}

.footer__container--top div p {
    font-size: 16px;
}

.social__links {
    max-width: 150px;
}

.social__links ul {
    margin-bottom: 40px;
}

.footer__icon {
    font-size: 1em;
    height: 40px;
    line-height: 40px;
    width: 40px;
}

.footer__list h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.footer__list ul {
    font-size: 13px;
    line-height: 3em;
}

/* bottom */

.footer__container--bottom {
    font-size: 13px;
    padding: 30px 15px;
}